header {
    border-bottom: 1px solid #808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

body {
    background-color: #011820;
    background-attachment: fixed;
}


nav{
    font-size: 150%;
    position: relative;
    padding: 5px 10px; 
}

h1{
    font-size: 150%;
    font-family: 'Yeseva One';
    font-weight: 100;
    color: rgb(255, 255, 255);
}

h2{
    font-size: 300%;
    font-family: 'Yeseva One';
    color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 125px;
}

h3{
    font-size: 115%;
    font-family: 'Montserrat';
    color: rgb(91, 103, 107);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 125px;
}

a{
    padding: 5px 10px; 
}



button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    border-radius: 3px;
    background-color: #011820;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
  }
  
  button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    border: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #00d39d;
    transform-origin: center;
    transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
    transition: transform 0.45s ease-in-out;
  }
  
  button:hover {
    cursor: pointer;
    color: #161616;
  }
  
  button:hover::before {
    transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
  }
  

h4{
    display: flex;
    justify-content: center ;
    padding: 20px 20px;
}

h5{
    position: relative;
    top: 75%;
    padding: 0px 125px;
}

.grid {
    display: grid;
    gap: 10px
}

.grid img {
    width: 105%;
    height: 105%;
    display: block;
  }

@media (max-width: 600px) {

  header {
    padding: 20px;
    flex-direction: column;
 }

 .h4 {    
    padding: 1px 1px; 
}

.button {    
    font-size: 10%;
}
 
 h2 {
    margin: 0 5%; 
    padding: 25px 1px; 
}

 h3 {
    margin: 0 5%; 
    padding: 1px 1px; 
}


  .grid {
      grid-template-columns: repeat(3, 1fr); 
      gap: 10px; 
      
  }

  .grid img:nth-child(n + 10) {
      display: none; 
  }

}

@media (min-width: 601px) and (max-width: 1024px) {


  .grid {    padding: 5px 10px; 
      grid-template-columns: repeat(5, 1fr); 
      gap: 15px; 
      padding: 5px 125px; 
  }


  .grid img:nth-child(n + 16) {
      display: none; 
  }
}

@media (min-width: 1024px) {

 
  body {
      margin: 0 5%; 
      padding: 5px 100px; 
  }
  
  .grid {
      grid-template-columns: repeat(4, 1fr); 
      gap: 20px; 
      padding: 5px 125px; 
  }

  .grid img:nth-child(n + 16) {
      display: none; 
  }
}